

<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
	<script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %}  "></script>
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/circular-std/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/charts/chartist-bundle/chartist.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/charts/morris-bundle/morris.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/charts/c3charts/c3.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/flag-icon-css/flag-icon.min.css" %}">
    <title>City Management Dashboard</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">City Management Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Real-time Illustration <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href= "{%  url 'home' %}" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">Traffic</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{%  url 'realtimepollution' %}">Pollution</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{%  url 'bikestatus' %}">Bikes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="dashboard-finance.html">Events</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href= "{%  url 'realtimepollution' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>City Predictions</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/cards.html">Bikes <span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/general.html">Bus</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/carousel.html">Traffic</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/listgroup.html">Pollution</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/typography.html">Events</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>City Simulations</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">Bikes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-chartist.html">Bus</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-charts.html">Traffic</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-morris.html">Pollution</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-sparkline.html">Events</a>
                                        </li>



                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Correlation</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Bus-Traffic Correlation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/form-validation.html">Bike-Traffic Correlation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/multiselect.html">Pollution-Traffic Correlation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/datepicker.html">Events-Traffic Correlation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/bootstrap-select.html">Multi-dimensional Correlation</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        {% block content %}
        {% endblock content %}
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static "assets/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
    <!-- slimscroll js -->
    <script src="{% static "assets/vendor/slimscroll/jquery.slimscroll.js" %}"></script>
    <!-- main js -->
    <script src="{% static "assets/libs/js/main-js.js" %}"></script>
    <!-- chart chartist js -->
    <script src="{% static "assets/vendor/charts/chartist-bundle/chartist.min.js" %}"></script>
    <!-- sparkline js -->
    <script src="{% static "assets/vendor/charts/sparkline/jquery.sparkline.js" %}"></script>
    <!-- morris js -->
    <script src="{% static "assets/vendor/charts/morris-bundle/raphael.min.js" %}"></script>
    <script src="{% static "assets/vendor/charts/morris-bundle/morris.js" %}"></script>
    <!-- chart c3 js -->
    <script src="{% static "assets/vendor/charts/c3charts/c3.min.js" %}"></script>
    <script src="{% static "assets/vendor/charts/c3charts/d3-5.4.0.min.js" %}"></script>
    <script src="{% static "assets/vendor/charts/c3charts/C3chartjs.js" %}"></script>
    <script src="{% static "assets/libs/js/dashboard-ecommerce.js" %}"></script>
</body>

</html>












