{% extends 'base.html' %}

{% block content %}

        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
    <body>
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <h1>Real time bike</h1>
                </div>
            </div>
        </div>
    </body>

{% endblock content %}